.scroll-container {
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.top-page {
  height: 130px;
  margin-top: 3em;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

.add-todo {
  text-align: center;
  margin-top: 3em;
}

#add-todo__input {
  width: 300px;
  outline: none;
}

.add-btn,
#add-todo__input {
  border: none;
  border-radius: 1em;
  padding: 1em;
}

.add-btn {
  width: 80px;
  margin-left: 1em;
}
