.todos-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo {
  border: 1px solid #fff;
  border-radius: 1em;
  width: 300px;
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 2.5em;
  margin: 1.5em;
}

.todo h1 {
  font-size: 1.8em;
  margin: 0;
}

.todo p {
  font-size: 1.5em;
  margin: 0;
}
